<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Devon- see your keepass database for these values. -->
    <add key="LastFMSecret" value=""/>
    <add key="LastFMApiKey" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
